header {
    background-color: #add8e6;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blue-sect{
    background-color: #00008b;
}

.column-pink{
    background-color: #ffc0cb;
    width: 30%;

}

.column-blue {
    background-color: #1e90ff;
    width: 70%;
    

}