/* Utils */
.container-header{
	max-width: 80%;
	margin: 0 auto;
	background-color: #daa520;
	display: flex;
}

.container-header>* { 
	border: 1px dashed black;
	min-width: 25%;
	padding: 5px;
}

.container-header>nav{
	flex-grow: 1;
	text-align: center;

}

section{
	padding-top: 25px;
	padding-bottom: 25px;
}

.pink-conteiner{
	max-width: 60%;
	height: 150px;
	margin: 0 auto;
	border: 1px dashed black;
	background-color: #ee82ee;
}

.default-conteiner {
	max-width: 80%;
	height: 200px;
	margin: auto;
	border: 1px dashed black;
	display: flex;
}

.big-conteiner {
	max-width: 80%;
	height: 400px;
	margin: auto;
	border: 1px dashed black;
	display: flex;
	background-color: #228b22;
}

